<a href="https://colab.research.google.com/github/Edwardvaughan/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [262]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [263]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_1_df = application_df.drop (columns = ['EIN', 'NAME'])

In [264]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_1_df.nunique ()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [265]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE
counts = application_1_df ['APPLICATION_TYPE'].value_counts ()
counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [266]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T14', 'T25', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_1_df['APPLICATION_TYPE'] = application_1_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_1_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [267]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE
counts = application_1_df ['CLASSIFICATION'].value_counts ()
counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [268]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
counts = counts [counts > 1]
counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [269]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = ['C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300',
                              'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240',
                              'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250',
                              'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210',
                              'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260',
                              'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267',
                              'C1256', 'C1370', 'C1236', 'C2190', 'C4200', 'C5200',
                              'C1820', 'C2600', 'C1248', 'C6100', 'C1580', 'C1900',
                              'C2570', 'C2380', 'C3700', 'C2500', 'C1570', 'C1283',
                              'C1732', 'C1728', 'C2170', 'C4120', 'C8210', '4500',
                              'C1245', 'C2561', 'C2150', 'C4500']

# Replace in dataframe
for cls in classifications_to_replace:
    application_1_df['CLASSIFICATION'] = application_1_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_1_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1003
C7000      777
C1700      287
C4000      194
Name: count, dtype: int64

In [270]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_2_df = pd.get_dummies (application_1_df, columns = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
                                                                'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS', 'IS_SUCCESSFUL'])

In [271]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_2_df.iloc [:, :-1]
y = application_2_df.iloc [:, -1]

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split (X, y, random_state = 78)

In [272]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [273]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add (tf.keras.layers.Dense (units = 5, activation = 'relu', input_dim = 48))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add (tf.keras.layers.Dense (units = 5, activation = 'relu', input_dim = 48))

# Output layer
#  YOUR CODE GOES HERE
nn.add (tf.keras.layers.Dense (units = 1, activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 5)                 245

 dense_13 (Dense)            (None, 5)                 30

 dense_14 (Dense)            (None, 1)                 6

=================================================================
Total params: 281 (1.10 KB)
Trainable params: 281 (1.10 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [274]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile (loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [275]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit (X_train_scaled, y_train, epochs = 8)

Epoch 1/8
804/804 [==============================] - 2s 2ms/step - loss: 0.3542 - accuracy: 0.8725
Epoch 2/8
804/804 [==============================] - 1s 2ms/step - loss: 0.0522 - accuracy: 0.9892
Epoch 3/8
804/804 [==============================] - 1s 2ms/step - loss: 0.0249 - accuracy: 0.9946
Epoch 4/8
804/804 [==============================] - 1s 2ms/step - loss: 0.0102 - accuracy: 0.9992
Epoch 5/8
804/804 [==============================] - 1s 2ms/step - loss: 0.0062 - accuracy: 0.9997
Epoch 6/8
804/804 [==============================] - 2s 2ms/step - loss: 0.0045 - accuracy: 0.9998
Epoch 7/8
804/804 [==============================] - 2s 3ms/step - loss: 0.0035 - accuracy: 0.9998
Epoch 8/8
804/804 [==============================] - 2s 2ms/step - loss: 0.0029 - accuracy: 0.9998

In [276]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.0134 - accuracy: 0.9993 - 456ms/epoch - 2ms/step
Loss: 0.013408847153186798, Accuracy: 0.9993003010749817

In [277]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save ('AlphabetSoupCharity.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(